// @font-face {
//     font-family: "Clear Sans";
//     font-weight: 200;
//     src:url(IRANSLW.woff2) format("woff2"), url(IRANSLW.woff) format("woff");
// }

// @font-face {
//     font-family: "Clear Sans";
//     font-weight: normal;
//     src:url(IRANSW.woff2) format("woff2"), url(IRANSW.woff) format("woff");
// }

// @font-face {
//     font-family: "Clear Sans";
//     font-weight: 700;
//     src:url(IRANSBW.woff2) format("woff2"), url(IRANSBW.woff) format("woff");
// }

@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 400;
    src: url('Iran-Sans.eot?') format('eot'), url('Iran-Sans.woff') format('woff'), url('Iran-Sans.svg') format('svg'), url('Iran-Sans.ttf') format('truetype');
}